body {
  font-family: 'Spartan', sans-serif;
  background-color: hsl(0, 0%, 100%);
  font-size: 15px;
}

h1 {
  font-size: 44px;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  padding-right: 200px;
}

/* Top Container */
.top-text {
  padding-right: 100px;
  color: hsl(303, 10%, 53%);
}

.top-container {
  position: relative;
  margin: 100px;
  padding: 0px 20px;
}

.icon-star {
  margin: 0px 5px;
  float: left;
}

.rating-text {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  margin-left: 20px;
  color: hsl(300, 43%, 22%);
  display: inline-block;
}

.rating-conts {
  position: relative;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 30px;
  height: 60px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.first-rating {
  position: relative;
  right: 80px;
}

.second-rating {
  position: relative;
  right: 40px;
}

.third-rating {
  position: relative;
  right: 0px;
}

/* Bottom Container */
.profile {
  display: inline-block;
}

.profile-information {
  display: inline-block;
  position: relative;
  margin: 5px 10px;
}

.username {
  color: hsl(300, 24%, 96%);
  font-size: 15px;
  font-weight: bold;
}

.testimonial-text {
  color: hsl(300, 24%, 96%);
  margin: 0px;
}

.user-title {
  color: hsl(333, 80%, 67%);
  font-size: 15px;
}

.profile-images {
  border-radius: 100%;
  width: 24%;
  margin-bottom: 30px;
}

.bottom-container {
  position: relative;
  margin: 0px 140px 150px 120px;
  display: inline-block;
}

.ui-card {
  position: relative;
  display: inline-block;
}

.testimonials {
  background-color: hsl(300, 43%, 22%);
  padding: 40px;
  margin: 0% 2% 0% 0%;
  border-radius: 10px;
}

.Irene {
  top: 50px;
}

.Anne {
  top: 100px;
}


/* Footer Section */

.footer {
  text-align: center;
}
